[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
psycopg2-binary = "*"
python-dotenv = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.18"
